#RC_h1 {
  font-family: 'Metal Mania', cursive;
  margin: 15px;
  font-size: 4em;
}

.card{
  background-color: rgb(178, 217, 230);
  border: rgba(57, 78, 197, 0.445) solid 2px;
  margin: 15px 15px;
}
@media only screen and (max-width: 900px) {
  hr {
    width: 100%;
  }
}
div.cont {
  background-color: rgb(56, 56, 56);
}